<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Board List</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, inital-scale=1"/>
		<!-- 부트스트랩 css 추가 -->
		<!-- <link rel="stylesheet" href="/css/lib/bootstrap.min.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1>Board Register.</h1>
			<form action="/board/write/action" method="post">
				<div class="mb-3">
					<label class="form-label">Title.</label>
					<input type="text" class="form-control" name="title">
				</div>
				<div class="mb-3">
					<label class="form-label">Content</label>
					<textarea class="form-control" rows="5" name="content">
					</textarea>
				</div>
				<div class="mb-3">
					<label class="form-label">Writer.</label>
					<input type="text" class="form-control" name="registerId">
				</div>
				<button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous
				</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<!-- 부트스트랩 js, juqery 추가 -->
		<script src="/js/lib/jquery.min.js"></script>
		<!-- <script scr="/js/lib/bootstrap.min.js"></script> -->
		<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	</body>
</html>